.field-item {
  margin-bottom: 20px;
  line-height: 1.5;
}

.field-title {
  margin: 0 0 8px;
}

.doing {
  color: gray;
}

.d-upload-picture-card {
  .el-upload-list__item,
  .el-upload--picture-card {
    width: 64px;
    height: 64px;
  }

  .el-upload--picture-card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
